# -*- mode: conf -*-

[general]
accounts = Default, Gmail
ui = basic
pythonfile = {{ .chezmoi.homeDir }}/.local/share/chezmoi/internal/offlineimap/pass.py

[Account Default]
localrepository = LocalDefault
remoterepository = RemoteDefault

[Repository LocalDefault]
type = Maildir
localfolders = {{ output "sh" "-c" "pass email/default_home || echo" | trim }}

[Repository RemoteDefault]
type = IMAP
remoteuser =     {{ output "sh" "-c" "pass email/default_user || echo" | trim }}
remotepasseval = get_pass("default")
remotehost =     {{ output "sh" "-c" "pass email/default_imap_host || echo" | trim }}
remoteport =     {{ output "sh" "-c" "pass email/default_imap_port || echo" | trim }}
ssl = yes
sslcacertfile = /etc/ssl/certs/ca-certificates.crt

[Account Gmail]
localrepository = LocalGmail
remoterepository = RemoteGmail

[Repository LocalGmail]
type = Maildir
localfolders = {{ output "sh" "-c" "pass email/gmail_home || echo" | trim }}

[Repository RemoteGmail]
type = IMAP
remoteuser =     {{ output "sh" "-c" "pass email/gmail_user || echo" | trim }}
remotepasseval = get_pass("gmail")
remotehost =     {{ output "sh" "-c" "pass email/gmail_imap_host || echo" | trim }}
remoteport =     {{ output "sh" "-c" "pass email/gmail_imap_port || echo" | trim }}
ssl = yes
sslcacertfile = /etc/ssl/certs/ca-certificates.crt
