# -*- mode: conf -*-

[general]
accounts = {{ output "sh" "-c" "cd $1 && find $2 -maxdepth 1 -mindepth 1 -type d -printf '%f\n' | paste -sd, -" "_" .pass_dir .pass_email | trim }}
ui = basic
pythonfile = {{ .chezmoi.homeDir }}/.local/share/chezmoi/internal/offlineimap/pass.py

{{ range $_, $pass_dir := output "sh" "-c" "cd $1 && find $2 -maxdepth 1 -mindepth 1 -type d" "_" .pass_dir .pass_email | trim | split "\n" -}}
[Account {{ output "sh" "-c" (printf "basename '%s'" $pass_dir) | trim }}]
localrepository = Local{{ output "sh" "-c" (printf "basename '%s'" $pass_dir) | trim }}
remoterepository = Remote{{ output "sh" "-c" (printf "basename '%s'" $pass_dir) | trim }}

[Repository Local{{ output "sh" "-c" (printf "basename '%s'" $pass_dir) | trim }}]
type = Maildir
localfolders = {{ output "sh" "-c" (printf "pass %s/home_dir" $pass_dir) | trim }}

[Repository Remote{{ output "sh" "-c" (printf "basename '%s'" $pass_dir) | trim }}]
type = IMAP
remoteuser     = {{ output "sh" "-c" (printf "pass %s/user" $pass_dir) | trim }}
remotepasseval = get_pass("{{ output "sh" "-c" (printf "basename '%s'" $pass_dir) | trim }}")
remotehost     = {{ output "sh" "-c" (printf "pass %s/imap_host" $pass_dir) | trim }}
remoteport     = {{ output "sh" "-c" (printf "pass %s/imap_port" $pass_dir) | trim }}
ssl            = yes
sslcacertfile  = /etc/ssl/certs/ca-certificates.crt

{{ end -}}
