# -*- mode: conf -*-

# Based om: https://pragmaticemacs.wordpress.com/2016/03/22/migrating-from-offlineimap-to-mbsync-for-mu4e/

IMAPAccount default
  Host {{ output "sh" "-c" "pass email/default_imap_host" | trim }}
  Port {{ output "sh" "-c" "pass email/default_imap_port" | trim }}
  User {{ output "sh" "-c" "pass email/default_user" | trim }}
  PassCmd "pass email/default_pass"
  SSLType IMAPS
  CertificateFile /etc/ssl/certs/ca-certificates.crt

IMAPStore default-remote
Account default

MaildirStore default-local
  Path {{ output "sh" "-c" "pass email/default_home" | trim }}
  # Inbox {{ output "sh" "-c" "pass email/default_home" | trim }}/INBOX
  SubFolders Verbatim

Channel default
  Far :default-remote:
  Near :default-local:
  Patterns *
  Create Both
  Sync All
  Expunge Both
  CopyArrivalDate yes


# IMAPAccount gmail
#   Host {{ output "sh" "-c" "pass email/gmail_imap_host" | trim }}
#   User {{ output "sh" "-c" "pass email/gmail_user" | trim }}
#   Port {{ output "sh" "-c" "pass email/gmail_imap_port" | trim }}
#   PassCmd "pass email/gmail_pass"
#   AuthMechs LOGIN
#   SSLType IMAPS
#   CertificateFile /etc/ssl/certs/ca-certificates.crt

# IMAPStore gmail-remote
# Account gmail

# MaildirStore gmail-local
# Path {{ output "sh" "-c" "pass email/gmail_home" | trim }}
# Inbox {{ output "sh" "-c" "pass email/gmail_home" | trim }}/INBOX

# Channel gmail
#   Far :gmail-remote:
#   Near :gmail-local:
#   Patterns *
#   Create Both
#   Sync All
#   Expunge Both
#   CopyArrivalDate yes

# Channel gmail-inbox
#   Far :gmail-remote:
#   Near :gmail-local:
#   Patterns "INBOX"
#   Create Both
#   Expunge Both
#   SyncState *

# Channel gmail-trash
#   Far :gmail-remote:"[Gmail]/Bin"
#   Near :gmail-local:"[Gmail].Bin"
#   Create Both
#   Expunge Both
#   SyncState *

# Channel gmail-sent
#   Far :gmail-remote:"[Gmail]/Sent Mail"
#   Near :gmail-local:"[Gmail].Sent Mail"
#   Create Both
#   Expunge Both
#   SyncState *

# Channel gmail-all
#   Far :gmail-remote:"[Gmail]/All Mail"
#   Near :gmail-local:"[Gmail].All Mail"
#   Create Both
#   Expunge Both
#   SyncState *

# Channel gmail-starred
#   Far :gmail-remote:"[Gmail]/Starred"
#   Near :gmail-local:"[Gmail].Starred"
#   Create Both
#   Expunge Both
#   SyncState *
