# -*- mode: conf -*-

defaults
auth           on
tls            on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile        ~/.msmtp.log

account default
from           {{ output "sh" "-c" "pass msmtp/default_from" | trim }}

host           {{ output "sh" "-c" "pass msmtp/default_host" | trim }}
user           {{ output "sh" "-c" "pass msmtp/default_user" | trim }}
passwordeval   "pass msmtp/default_pass"
port           {{ output "sh" "-c" "pass msmtp/default_smtp_port" | trim }}
timeout 120
