# -*- mode: conf -*-

Host           {{ output "sh" "-c" "pass msmtp/default_host" | trim }}
User           {{ output "sh" "-c" "pass msmtp/default_user" | trim }}
PassCmd        "pass msmtp/default_pass"
Port           {{ output "sh" "-c" "pass msmtp/default_imap_port" | trim }}
SSLType IMAPS
AuthMechs LOGIN
SSLVersions TLSv1.2
# Increase timeout
Timeout 120

Account        {{ output "sh" "-c" "pass msmtp/default_user" | trim }}

Path           {{ output "sh" "-c" "pass msmtp/default_home" | trim }}
Inbox          {{ output "sh" "-c" "pass msmtp/default_home" | trim }}/INBOX/
Trash          {{ output "sh" "-c" "pass msmtp/default_home" | trim }}/Trash/
SubFolders Verbatim

Channel        {{ output "sh" "-c" "pass msmtp/default_user" | trim }}
	Patterns *
	Patterns !"Archive/*"
	CopyArrivalDate yes
	Sync All
	Create Both
	Expunge None
	SyncState *
