# -*- mode: sh -*-

# Known issue: Exported array variables may not be available for subsequent commands in the same shell session.

export DOTFILES_USER="$USER"
export DOTFILES_EMAIL="$USER@$HOSTNAME"
export DOTFILES_GPG_KEY=

export TERMSHOT_DIR=~/Documents/repos/termshots
export AIDERONPANE_DIR=~/Documents/repos/aideronpane

# Set the timezone
export TZ='America/Sao_Paulo'

# Export secrets here
# export VERCEL_TOKEN="$(pass bash/vercel_token)"
# export OPENAI_API_KEY=$(pass bash/openai_api_key)
# export ANTHROPIC_API_KEY=$(pass bash/anthropic_api_key)

# opencode
# Jira MCP
# export JIRA_MCP_ATLASSIAN_HOST="https://$(pass bash/jira_mcp_atlassian_host)"
# export JIRA_MCP_ATLASSIAN_EMAIL=$(pass bash/jira_mcp_atlassian_email)
# export JIRA_MCP_ATLASSIAN_TOKEN=$(pass bash/jira_mcp_atlassian_token)
# Mongo Lens MCP
# export MONGODB_LENS_MCP_URI=$(pass bash/mongodb_lens_mcp_uri)
# export MONGODB_LENS_MCP_NAME=$(pass bash/mongodb_lens_mcp_name)

# export EMACS_ENABLE_IRC=true
# export EMACS_ENABLE_SLACK=true
# export EMACS_ENABLE_COPILOT=true
